like_h1{
    display: block;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.text_bold{
    font-weight: bold;
}

.text_italic{
    font-style: italic;
}

custom_pre {
    display: block;
    white-space: pre;
    margin: 1em 0;
}

